name: Automerge
on:
  pull_request:
    types:
      - labeled

jobs:
  autoapprove:
    runs-on: ubuntu-latest
    steps:
      - name: Auto-approve Pull Request
        uses: hmarr/auto-approve-action@v2.0.0
        if: startsWith(github.head_ref, 'feature/update-graphql-schema') == true
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"

  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: pascalgn/automerge-action@v0.13.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          UPDATE_RETRIES: 10
          UPDATE_RETRY_SLEEP: 10000
